/* total setup */
.overall {
    background: #E5E5E5;
}

/* header section */
.top-players {
    width: 870px;
    background: #FFFFFF;
    border-radius: 5px;
    margin: 0 auto;
}

.title {
    color: rgba(86, 46, 255, 1);
    padding: 30px;
}

.plyers-info {
    display: flex;
    margin-left: 30px;
}

.players-name {
    font-size: 18px;
    font-weight: 500;
    padding-left: 10px;
}

.player-image {
    width: 56px;
    height: 56px;
}

.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
}

.line {
    border: 1px solid #D1D1D1;
    background-color: #D1D1D1;
    margin: 30px 20px 0 20px;
}

.blog-img {
    width: 177px;
    height: 117px;
}

.main-portion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    padding-bottom: 40px;
}

.top-blog-content {
    display: flex;
    justify-content: center;
    margin: 0 30px;
}

.top-blog-content div {
    margin-left: 10px;
}

.author {
    text-decoration: none;
    color: rgba(86, 46, 255, 1);
}

/* <!-- latest-course-section --> */
.icon {
    color: goldenrod;
}

.icons {
    color: gray;
}

.course-image {
    width: 224px;
    height: 104px;
}
.latest-course{
    width: 870px;
    background: #FFFFFF;
    border-radius: 5px;
    margin: 0 auto;
}
.after-title{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
/* .first-content{
    padding
} */
.latest-course-content{
    padding: 10px 30px;
}

/* for responsive layout */

@media only screen and (max-width:688px) {
    .top-players {
        width: 100%;
    }

    .content {
        grid-template-columns: repeat(1, 1fr);
    }

    .main-portion {
        grid-template-columns: repeat(1, 1fr);
    }
    .after-title{
        grid-template-columns: repeat(1,1fr);
    }
    .latest-course{
        width: 100%;
    }
}